@tailwind base;
@tailwind components;
@tailwind utilities;

.upload-input {
  border-bottom: 1px solid #a5a39e;
  background: transparent;
  width: 100%;
}

.faq-lists > li {
  @apply flex flex-col space-y-2;
}
.faq-lists > li > h3 {
  @apply text-xl font-semibold;
}
